---
title: Homepage
description: Get your webiste up and running online in no time using current starter
header: <fix>CMintS</fix> starter
---

<h2>{homepage[Page heading] Homepage}</h2>

<p>{homepage-p[Paragraph in "Homepage" section] This is the homepage that is using <fix>EJS</fix>.}</p>

<a href="/page2">{homepage-p-link[Link to the second page in "Homepage" section] Go to Page2}</a>
